*{
    padding: 0px;
    margin: 0px;
}
.formRegis{

    background-color: darkgray;
    width: 400px;
    padding: 50px;
    margin:auto;
    margin-top: 150px;
    border-radius: 50px;

}
.formRegis h3{

    font-size: 27px;
    color: rgb(24, 80, 83);

}
.entrada{

    width: 400px;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid blue;
    background-color: rgb(205, 201, 221);
    margin-bottom: 15px;
}
.enviar{

    width: auto;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid blue;
    background-color: rgb(205, 201, 221);
    margin-left: auto;
    
}
